---
import sharp from "sharp";
import fs from "fs";
import path from "path";
import axios from "axios";
import {Image} from "astro:assets";

// Crear instancia de Axios
const api_qa = axios.create({
  baseURL: "https://qa.api.somosedison.com",
  headers: {
    Authorization: "l33hDPtjJK0emSag5NcJKdrJbWXUFpORTSih",
  },
});

const outputDir = path.resolve("./public/optimized-images");

let optimizedImages = [];

try {
  const res = await api_qa.get(`/courses/market`);
  const courses = res.data;

  for (const course of courses) {
    for (const user of course.users) {
      const { id: userId } = user.user;

      const outputImagePath = path.join(outputDir, `${userId}_1x.webp`);

      if (fs.existsSync(outputImagePath)) {
        optimizedImages.push(`/optimized-images/${userId}_1x.webp`);
        continue;
      }
      optimizedImages.push(`/optimized-images/${userId}_1x.webp`);
    }
  }
} catch (error) {
  console.error("Error al obtener los cursos:", error);
}
---
<!-- HTML generado por Astro -->
<h1>Imágenes Optimizadas</h1>
<div>
  {optimizedImages.map((src) => {
    const srcset = [
      `${src.replace('_1x.webp', '_1x.webp')} 1x`,
      `${src.replace('_1x.webp', '_2x.webp')} 2x`,
      `${src.replace('_1x.webp', '_3x.webp')} 3x`
    ].join(', ');
    return <Image 
      src={src} 
      alt="Imagen optimizada" 
      width={36} 
      height={36}
      srcset={srcset}
      loading={"eager"}
    />
  })}
</div>
