---
import Meta from "../components/Meta.astro"
import "@fontsource-variable/inter"
import type { IAcademy } from "../env"
import { mixWithWhite } from "../utils/mixWithWhite";

interface Props {
  academy: IAcademy;
}

const {academy} = Astro.props ?? {}
const {mainColor, secondaryColor} = academy?.style ?? {mainColor: "red", secondaryColor: "blue"}
console.log(secondaryColor)

      // favicon="https://avatars.githubusercontent.com/u/134017871?s=48&v=4.jpg"
---

<!doctype html>
<html lang="en" class="font-inter">
	<head>
    <Meta
      title={academy.seo.title}
      description={academy.seo.description}
      image={academy?.seo?.socialPreview || "https://avatars.githubusercontent.com/u/134017871?s=48&v=4.jpg"}
      favicon="/__optimized-images/favicon_1x.png"
      url="https://avatars.githubusercontent.com/u/134017871?s=48&v=4"
    />
	</head>
  <body 
    class="bg-gray_25" 
    style={`--main-color: ${mainColor}; --secondary-color: ${secondaryColor}; --main-transparent: ${mixWithWhite(mainColor, 0.85)}`}
  >
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

